<h2 class="subtittle-1">Conoce Nuestros Servicios</h2>

<div class="row">

  <div class="col-md-3 spacer-card-bottom">
    <div class="card" (click)="goToRoute('hotels')">
      <img class="card-img-top" src="assets/images/services/hotel.png" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">Hoteles</h3>
        <p class="card-text">Brueba nuestra plataforma en version Beta que estamos desarrollando para darte lo mejor.
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-3 spacer-card-bottom">
    <div class="card" (click)="goToRoute('cars')">
      <img class="card-img-top" src="assets/images/services/car.png" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">Autos</h3>
        <p class="card-text">Aqui podras consultar, ver detalles y reservar la arrendadora que mas se ajuste a la
          necesidad de tus clientes.</p>
      </div>
    </div>
  </div>

  <div class="col-md-3 spacer-card-bottom">
    <div class="card" (click)="goToRoute('disney')">
      <img class="card-img-top" src="assets/images/services/disney.png" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">Disney</h3>
        <p class="card-text">Consulta nuestro buscador especializado donde podras consultar todas las opciones Disney
          que tenemos para ti.</p>
      </div>
    </div>
  </div>

  <div class="col-md-3 spacer-card-bottom">
    <div class="card" (click)="goToRoute('tours')">
      <img class="card-img-top" src="assets/images/services/tour.png" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">Tours</h3>
        <p class="card-text">Revisa nuestro catalogo de tours que XIPATLANI tiene para ti a diferentes destinos de todo
          el mundo.</p>
      </div>
    </div>
  </div>

</div>
