<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<footer class="footer_area" style="color: white;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-sm-6" style="text-align: center;">
        <a routerLink="/home" routerLinkActive="active">
          <img class="img-logo-1" src="assets/logos/Logo_fondo_negro.png" alt="" style="width: 160px">
        </a>
        <br>
        <label for="id-n" style="margin: 1rem;">¡CUIDAMOS DE TI EN CADA VIAJE!</label>
        <div class="ftr_social_icon">
          <ul>
            <li>
              <a class="face" href="https://www.facebook.com/xipatlaniviajes/">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a class="whats" href="https://wa.me/525612005850?text=Hola%quisiera%pedir%informaci%C3%B3n">
                <i class="fa fa-whatsapp"></i>
              </a>
            </li>
            <li>
              <a class="insta" href="https://www.instagram.com/xipatlaniviajes/">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div> <!--  End Col -->
      <div class="col-md-3 col-sm-6">
        <h4>CONTACTO</h4>
        <ul class="toolbar-options">
          <li>
            <a href="mailto:reservaciones@xipatlani.com.mx" style="text-decoration: none; color: white;">
              <p style="display: inline-flex;">
                <mat-icon>email</mat-icon><span style="margin-left: 5px;">reservaciones@xipatlani.com.mx</span>
              </p>
            </a>
          </li>
          <li>
            <p style="display: inline-flex;">
              <mat-icon>phone</mat-icon><span style="margin-left: 5px;">558 930 9113</span>
            </p>
          </li>
          <li>
            <p style="display: inline-flex;">
              <mat-icon>location_on</mat-icon>
              Av. Universidad 468-Ofic. 5 y 6,
              <br>Colonia Vértiz Narvarte, Benito Juárez,
              <br>03600 Ciudad de México, CDMX
            </p>
          </li>
        </ul>
      </div> <!--  End Col -->
      <div class="col-md-2 col-sm-6">
        <div>
          <h4>SERVICIOS</h4>
          <ul class="toolbar-options">
            <li style="margin-bottom: 5px;"><a>Boletos de avión</a></li>
            <li style="margin-bottom: 5px;"><a>Hoteles</a></li>
            <li style="margin-bottom: 5px;"><a>Tours</a></li>
            <li style="margin-bottom: 5px;"><a>Circuitos</a></li>
            <li style="margin-bottom: 5px;"><a>Seguros</a></li>
            <li style="margin-bottom: 5px;"><a>Traslados</a></li>
            <li style="margin-bottom: 5px;"><a>Disney</a></li>
          </ul>
        </div>
      </div> <!--  End Col -->
      <div class="col-md-4 col-sm-6" style="text-align: center;">
        <div class="row">
          <div class="col-md-4 col-sm-12" style="margin-bottom: 20px;">
            <img src="assets/images/sectur.png" alt="" style="height: 50px">
          </div>
          <div class="col-md-4 col-sm-12" style="margin-bottom: 20px;">
            <img src="assets/images/iata.png" alt="" style="height: 50px">
          </div>
          <div class="col-md-4 col-sm-12" style="margin-bottom: 20px;">
            <img src="assets/images/pci_logo.png" alt="" style="height: 50px">
          </div>
        </div>
      </div> <!--  End Col -->
    </div>
  </div>

  <div class="ftr_btm_area">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
          <p class="copyright_text text-center" [ngStyle]="{'font-size':'12px'}">Copyright &copy; 2024 - All Rights
            Reserved - <a href="https://xipatlani.com.mx">xipatlani.com.mx</a></p>
        </div>
        <div class="col-sm-4">
        </div>
      </div>
    </div>
  </div>
</footer>
