<!-- Nuestra Oferta -->
<div class="row spacer-section">
  <div class="col-md-4 spacer-section-bottom">
    <small class="tag">QUE OFRECEMOS</small>
    <h2 class="subtittle-1">Nuestra oferta de servicios</h2>
    <p class="description-big">Contamos con diferentes servicios que cumplen con todas tus necesidades</p>
  </div>
  <!-- Servicios -->
  <div class="col-md-8">
    <div class="row">
      <!-- Hoteles -->
      <div class="col-md-6 service-card">
        <div class="row">
          <div class="col-2 ">
            <mat-icon class="contact-icon">domain</mat-icon>
          </div>
          <div class="col-10">
            <h3 class="subtittle-2">Hoteles</h3>
            <p class="description">Contamos con mas de 50,000 hoteles en todo el mundo con tarifas netas</p>
            <p><a routerLink="/home/services" class="more">Saber más</a></p>
          </div>
        </div>
      </div>
      <!-- Autos -->
      <div class="col-md-6 service-card">
        <div class="row">
          <div class="col-2">
            <mat-icon class="contact-icon">directions_car</mat-icon>
          </div>
          <div class="col-10">
            <h3 class="subtittle-2">Autos</h3>
            <p class="description">Tenemos un amplio catalogo con las principales compañias arrendadoras y comisiones
              atractivas</p>
            <p><a routerLink="/home/services" class="more">Saber más</a></p>
          </div>
        </div>
      </div>
      <!-- Cruceros -->
      <div class="col-md-6 service-card">
        <div class="row">
          <div class="col-2">
            <mat-icon class="contact-icon">directions_boat</mat-icon>
          </div>
          <div class="col-10">
            <h3 class="subtittle-2">Cruceros</h3>
            <p class="description">Podras consultar las mejores ofertas de cruceros</p>
            <p><a routerLink="/home/services" class="more">Saber más</a></p>
          </div>
        </div>
      </div>
      <!-- Vuelos -->
      <div class="col-md-6 service-card">
        <div class="row">
          <div class="col-2">
            <mat-icon class="contact-icon">flight_takeoff</mat-icon>
          </div>
          <div class="col-10">
            <h3 class="subtittle-2">Vuelos</h3>
            <p class="description">Cotiza, Reserva y Emite tu boletos con nosotros</p>
            <p><a routerLink="/home/services" class="more">Saber más</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
