<img class="img-banner" src="assets/images/banners/services.png" alt="">

<div class="container spacer-section">
  <small class="tag">QUE OFRECEMOS</small>
  <h2 class="subtittle-1">Conoce lo que tenemos para ti</h2>
  <p class="description-big">Contamos con diferentes servicios que cumplen con todas tus necesidades</p>
  <!-- Nuestra Oferta -->
  <div class="row spacer-section">
    <!-- Servicios -->
    <div class="col-md-6 spacer-section-bottom">
      <h3 class="subtittle-2">Servicios</h3>
      <ul>
        <li>Plataforma de hoteles con mas de 500 mil propiedades a nivel mundial</li>
        <li>Página web de autos con diferentes arrendadoras</li>
        <li>Pagina web de tarifas SIM a nivel mundial personalizada para cada agencia</li>
        <li>Boletos de avión </li>
        <li>Grupos aéreos, terrestres y convenciones</li>
        <li>Cruceros</li>
        <li>Trenes</li>
        <li>Circuitos a nivel mundial</li>
        <li>Seguros de viaje desde 25 usd (cancelación 32 causas)</li>
        <li>Tarifas especiales con Copa e Iberia</li>
        <li>Tarifas especiales con hoteles Meliá y Barceló</li>
        <li>FIT (Viajes a la medida nacionales e internacionales)</li>
        <li>Disney con proveedores directos</li>
        <li>Traslados a nivel mundial (compartidos y privados)</li>
      </ul>
    </div>
    <!-- Ofrecemos -->
    <div class="col-md-6">
      <h3 class="subtittle-2">Ofrecemos</h3>
      <ul>
        <li>Atractivas comisiones en servicios terrestres y marítimos</li>
        <li>Emisión de boletos individuales sin cargos adicionales</li>
        <li>Grupos aéreos con cargo de 200 pesos más IVA por boleto</li>
        <li>Servicio de emergencia 24/7</li>
        <li>Liga de pago con protección antifraudes con un cargo del 2.8% mas IVA (AMERICAN EXPRESS Y BANCARIAS)</li>
        <li>Servicio personalizado</li>
        <li>Canales de comunicación (Facebook y WhatsApp)</li>
        <li>Comisiones en todos nuestros servicios terrestres</li>
      </ul>
    </div>

  </div>
</div>
