<div class="container">
  <div class="spacer-section-bottom">
    <h2 class="subtittle-1">Tours en {{ destinyName }}</h2>
  </div>

  <div class="loader" *ngIf="loadInfo">
    <load-ellipsis></load-ellipsis>
  </div>

  <div class="row" *ngIf="!loadInfo">
    <div class="col-md-3 spacer-card-bottom" *ngFor="let tour of tours">
      <div class="card" (click)="goDestiny(tour.id)">
        <img class="card-img-top" [src]="tour.image" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">{{ tour.title }}</h3>
          <p class="card-text">{{ tour.description }}</p>
        </div>
      </div>
    </div>
  </div>

  <gen-pagination [pagination]="pagination" (changePage)="changePagination($event)"></gen-pagination>

</div>
