<div class="row spacer-section">
  <div class="col-md-8">
    <small class="tag">COLABORADORES</small>
    <h2 class="subtittle-1">Nuestros Colaboradores</h2>
    <p class="description-big">
      Trabajamos con las mejores empresas del mercado que nos brindan<strong> precios preferenciales </strong>para ser
      mas competitivos y ofrecerle lo
      mejor a nuestros clientes
    </p>
  </div>
  <div class="col-md-4">

  </div>
</div>

<!-- Colaboradores slider -->
<div class="spacer-section-bottom">
  <div class="slider">
    <div class="slide-track">
      <div class="slide">
        <img src="assets/images/suppliers/supplier-1.png" alt="" />
      </div>
      <div class="slide">
        <img src="assets/images/suppliers/supplier-2.png" alt="" />
      </div>
      <div class="slide">
        <img src="assets/images/suppliers/supplier-3.png" alt="" />
      </div>
      <div class="slide">
        <img src="assets/images/suppliers/supplier-4.png" alt="" />
      </div>
      <div class="slide">
        <img src="assets/images/suppliers/supplier-1.png" alt="" />
      </div>
      <div class="slide">
        <img src="assets/images/suppliers/supplier-2.png" alt="" />
      </div>
      <div class="slide">
        <img src="assets/images/suppliers/supplier-3.png" alt="" />
      </div>
      <div class="slide">
        <img src="assets/images/suppliers/supplier-4.png" alt="" />
      </div>
    </div>
  </div>
</div>
