<img class="img-banner" src="assets/images/banners/about-us.png" alt="">

<div class="container">
  <div class="row spacer-section">
    <div class="col-md-7">
      <small class="tag">Nosotros</small>
      <h1 class="subtittle-1">¿Quienes somos?</h1>
      <p class="description-big">
        Somos una Operadora Mayorista que cuenta con personal calificado con experiencia de mas de 30 años en el
        turismo, nos caracterizamos por un excelente servicio a nuestras agencias de viajes, contamos con los mejores
        proveedores a nivel nacional e internacional, ofreciendo garantía, calidad y profesionalismo.
      </p>
    </div>
    <div class="col-md-5">
      <div class="container-image">
        <img src="assets/images/extras/about.jpg" width="100%">
      </div>
    </div>
  </div>

  <section class="section-about-us">
    <h2 class="subtittle">Misión</h2>
    <p class="description-big" style="font-style: italic;">
      Fortalecer A Las Agencias De Viajes Minoristas, Ofreciendo Atractivas Ganancias, Precios Justos Y Competitivos,
      Herramientas Tecnologicas Que Permitan A Nuestras Agencias De Viajes Ofrecer Un Servicio Rapido Y De Valor A Sus
      Clientes,
      Con El Fin De Que El Cliente Reconozca La Importancia Del Agente De Viajes En El Sector Turistico, Combinando
      Tecnologia Con La Parte Humana.
    </p>
  </section>

  <section class="section-about-us">
    <h2 class="subtittle-1">Visión</h2>
    <p class="description-big" style="font-style: italic;">
      Ser La Operadora Mayorista Lider En El Sector Del Turismo, Distinguirnos Por El Servicio Y Valor Agregado Que
      Ofrecemos A Nuestras Agencias De Viajes,
      Ofreciendo Un Servicio De Excelencia, Generando Alianzas Y Ganancias Mutuas, Productos Innovadores Y De Calidad,
      Con La Mejor Oferta Turistica.
    </p>
  </section>

  <section class="section-about-us">
    <h2 class="subtittle-1">Valores</h2>
    <p class="description-big" style="font-style: italic;">
      Nuestros Equipo De Trabajo La Base De Todo, Experiencia, Confianza, Seguridad, Transparencia, Excelencia En El
      Servicio, Compromiso, Responsabilidad,
      Asistencia Y Apoyo, Empatia, Pasion En Lo Que Hacemos, Entrega, Calidad Humana, Sustentibilidad.
    </p>
  </section>

  <section class="section-about-us spacer-section">
    <h2 class="subtittle-1">Nuestro Equipo</h2>
    <p class="description-big">
      Conoce a nuestro equipo de trabajo y ten la confianza de trabajar con personas 100% capacitadas
    </p>

    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="assets/images/team/team-1.jpg" width="95%" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">Elizabeth Meza</h3>
            <h4 class="card-subtitle">Directora General</h4>
            <p class="card-text">
              Experiencia de 30 años en los diferentes rubros del sector turístico, comprometida, honesta, empática y
              atenta.
              <br> <br>
              Enfocada a la negociación con proveedores, operadores y aerolíneas para ofrecer los mejores beneficios y
              ganancias al equipo de XIPATLANI y a las agencias de viajes.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="assets/images/team/team-2.png" width="95%" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">Martin Lopez</h3>
            <h4 class="card-subtitle">Gerente de Operaciones</h4>
            <p class="card-text">
              Experiencia de mas de 40 años en operadora y servicios terrestres, líder del área de operaciones y
              negociaciones con proveedores nacionales e internacionales.
              <br> <br>
              Atento, amable, servicial y comprometido a dar el mejor servicio.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="assets/images/team/team-3.png" width="95%" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">Veronica Valero</h3>
            <h4 class="card-subtitle">Gerente Comercial</h4>
            <p class="card-text">
              Ccon más de 10 años de experiencia en la industria del turismo.
              Orientado a resultados y con habilidades de gestión del tiempo y relaciones con los clientes.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="assets/images/team/team-4.jpg" width="95%" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">Equipo XIPATLANI</h3>
            <br>
            <p class="card-text">
              Equipo con experiencia de mas de 30 años en los diferentes rubros del Turismo, buscamos para nuestras
              agencias la mejor atención y negociación para brindarles las mejores condiciones
              <br><br>
              Trabajamos en equipo para darte lo mejor del mercado y los mas importante, lo mejor de nosotros.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="spacer-section">
    <app-contact></app-contact>
  </div>

</div>
