@import 'src/styles.scss';

.contact-button {
  border: 1px solid #201E1F;
  background-color: #fff;
  color: #201E1F;
}

.contact-button:hover {
  border: 1px solid #201E1F;
  background-color: #2B57A4;
  color: #fff;
}

.box-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-icon {
  color: $color-1;
  transform: scale(2);
}

.card {
  height: 100%;
}

.card:hover {
  cursor: pointer;
  transition: all .4s ease-in-out;
  box-shadow: 0px 0px 8px 3px #d6d6d6;
}
