<!-- Quienes somos-->
<div class="row spacer-section-top">
  <div class="col-md-5">
    <div class="container-image">
      <img src="assets/images/extras/about.jpg" width="100%">
    </div>
  </div>
  <div class="col-md-7 spacer-section-small-top">
    <small class="tag">QUIENES SOMOS</small>
    <h2 class="subtittle-1">Operadora Mayorista</h2>
    <p class="description">
      Somos una Operadora Mayorista que cuenta con personal calificado con experiencia de mas de 30 años en el turismo,
      nos caracterizamos por un excelente servicio a nuestras agencias de viajes, contamos con los mejores proveedores a
      nivel nacional e internacional, ofreciendo garantía, calidad y profesionalismo.
    </p>
    <button type="button" class="btn btn-outline-warning contact-button" (click)="goContact()">CONTACTANOS</button>
  </div>
</div>

<!-- Datos oficina -->
<div class="row spacer-section-bottom spacer-section-small-top">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2 box-icon">
            <mat-icon class="contact-icon">location_on</mat-icon>
          </div>
          <div class="col-md-10">
            <p class="subtittle-2">Nuestra Oficina</p>
            <p class="description">Av. Universidad 468-Ofic. 5 y 6, Colonia Vértiz Narvarte, Benito Juárez, 03600 Ciudad
              de México, CDMX</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2 box-icon">
            <mat-icon class="contact-icon">email</mat-icon>
          </div>
          <div class="col-md-10">
            <p class="subtittle-2">Email</p>
            <p class="description">reservaciones@xipatlani.com.mx</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2 box-icon">
            <mat-icon class="contact-icon">call</mat-icon>
          </div>
          <div class="col-md-10">
            <p class="subtittle-2">Llamanos</p>
            <p class="description">558 930 9113</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
